{{setBackLink('')}}
<p>Page list</p>
<ul>
  <li class="" (click)="redir('000')">000_boot</li>
  <li class="" (click)="redir('001')">001_home</li>
  <li class="" (click)="redir('002')">002_print</li>
  <li class="" (click)="redir('003')">003_print_status</li>
  <li class="" (click)="redir('004')">004_print_adjust</li>
  <li class="" (click)="redir('005')">005_print_finished</li>
  <li class="h" (click)="redir('006')">006_temp_menu</li>
  <li class="h" (click)="redir('007')">007_temp_manual</li>
  <li class="h" (click)="redir('008')">008_fan</li>
  <li class="h" (click)="redir('009')">009_settings_menu</li>
  <li class="h" (click)="redir('010')">010_leveling_menu</li>
  <li class="h" (click)="redir('011')">011_leveling_offset</li>
  <li class="h" (click)="redir('012')">012_leveling_manual</li>
  <li class="h" (click)="redir('013')">013_leveling_automatic</li>
  <li class="h" (click)="redir('014')">014_leveling_probing</li>
  <li class="h" (click)="redir('015')">015_filament</li>
  <li class="h" (click)="redir('016')">016_move</li>
  <li class="h" (click)="redir('017')">017_gcode</li>
  <li class="" (click)="redir('018')">018_settings_menu2</li>
  <li class="h" (click)="redir('019')">019_pid</li>
  <li class="h" (click)="redir('020')">020_volume</li>
  <li class="h" (click)="redir('021')">021_brightness</li>
  <li class="h" (click)="redir('022')">022_information</li>
  <li class="h" (click)="redir('200')">200_popup_gcode</li>
  <li class="h" (click)="redir('201')">201_popup_gcode_sel</li>
  <li class="h" (click)="redir('202')">202_popup_numpad</li>
  <li class="h" (click)="redir('203')">203_popup_numpad_sel  </li>
  <li class="h" (click)="redir('204')">204_popup_abort</li>
  <li class="h" (click)="redir('205')">205_popup_abort_sel</li>
  <li class="h" (click)="redir('206')">206_popup_pause</li>
  <li class="h" (click)="redir('207')">207_popup_pause_sel</li>
  <li class="h" (click)="redir('208')">208_popup_resume</li>
  <li class="h" (click)="redir('209')">209_popup_resume_sel</li>
  <li class="h" (click)="redir('210')">210_popup_presets</li>
  <li class="h" (click)="redir('211')">211_popup_presets_sel</li>
  <li class="h" (click)="redir('212')">212_popup_steppers</li>
  <li class="h" (click)="redir('213')">213_popup_steppers_sel</li>
  <li class="h" (click)="redir('214')">214_popup_eeprom</li>
  <li class="h" (click)="redir('215')">215_popup_eeprom_sel</li>
  <li class="h" (click)="redir('240')">240_debug1</li>
  <li class="h" (click)="redir('241')">241_debug2</li>
  <li class="" (click)="redir('248')">248_power_loss</li>
  <li class="" (click)="redir('249')">249_wait</li>
  <li class="" (click)="redir('250')">250_kill</li>
</ul>
