{{setTitle('Settings')}}
{{setBackLink('I known')}}
<div class="row">
  <div class="col-12 stretch-card">
    <div class="card">
      <div class="card-body detail">
        <div class="preview-list">
          <div class="row">
            <lg-adjustbutton class="col-md-6" color="info" icon="fas fa-pen" title="PID tuning"></lg-adjustbutton>
            <lg-adjustbutton class="col-md-6" color="primary" icon="fas fa-volume-down" title="Volume"></lg-adjustbutton>
            <lg-adjustbutton class="col-md-6" color="success" icon="fas fa-sun" title="Brightness"></lg-adjustbutton>
            <lg-adjustbutton class="col-md-6" color="warning" icon="fas fa-basketball-ball" title="Reset EEPROM"></lg-adjustbutton>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
