{{setTitle('Adjust')}}
{{setBackLink('Status')}}
<div class="row">
  <div class="col-12 stretch-card">
    <div class="card">
      <div class="row">
        <div class="card-body detail">
          <div class="preview-list">

            <lg-adjustbutton color="info" icon="fas fa-pen" title="Nozzle temp."></lg-adjustbutton>
            <lg-adjustbutton color="primary" icon="fas fa-fan" title="Bed temp."></lg-adjustbutton>
            <lg-adjustbutton color="success" icon="fas fa-fan" title="Fan speed"></lg-adjustbutton>
            <lg-adjustbutton color="warning" icon="fas fa-basketball-ball" title="Feed Rate"></lg-adjustbutton>
            <lg-adjustbutton color="danger" icon="fas fa-spa" title="Flow Rate"></lg-adjustbutton>
            <lg-adjustbutton color="info" icon="fas fa-ankh" title="Z offset"></lg-adjustbutton>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
