{{setTitle('Select File')}}
{{setBackLink('Overview')}}
<div class="row">
  <div class="col-12">
    <div class="card lkcard">
      <div class="card-body">
        <div (click)="redir('003')" class="list-wrapper">
          <ul class="d-flex flex-column-reverse text-white todo-list todo-list-custom">
            <li class="bottom-line">
              <div class="form-check form-check-primary">
                <label class="form-check-label"></label>
              </div>
            </li>
            <li>
              <div class="form-check form-check-primary">
                <label class="form-check-label"></label>
              </div>
            </li>
            <li>
              <div class="form-check form-check-primary">
                <label class="form-check-label"></label>
              </div>
            </li>
            <li>
              <div class="form-check form-check-primary">
                <label class="form-check-label"></label>
              </div>
            </li>
            <li>
              <div class="form-check form-check-primary">
                <label class="form-check-label"></label>
              </div>
            </li>
          </ul>
        </div>
        <div class="row d-sm-flex d-md-none">
          <div class="col-6">
            <div class="preview-icon arrow-button bg-primary">
              <i class="mdi mdi-arrow-left"></i>
            </div>
          </div>
          <div class="col-6 text-right">
            <div class="preview-icon arrow-button bg-primary">
              <i class="mdi mdi-arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 15px">
  <div class="col lkcol">
    <div class="card lkcard">
      &nbsp;
    </div>
  </div>
  <div class="col-auto">
    <a class="btn btn-success">Print</a>
  </div>
</div>
