<div class="card">
  <div class="card-body">
    <div class="preview-list">
      <div class="preview-item">
        <div class="preview-thumbnail">
          <div class="preview-icon bg-{{color}}">
            <i class="mdi mdi-{{icon}}"></i>
          </div>
        </div>
        <div class="preview-item-content d-sm-flex  flex-grow">
          <div class="flex-grow">
            <h6 class="preview-subject">{{text}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
