{{setTitle('Print status')}}
{{setBackLink('Files')}}

<div class="row">
  <div (click)="redir('004')" class="col-6 temp-pad-r">
    <div class="card">
      <div class="card-body detail">
        <div class="preview-list">
          <lg-printprogressbuttons icon="far fa-file-alt" title="Nozzle" color="info"></lg-printprogressbuttons>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 temp-pad-l">
    <div class="card">
      <div class="card-body detail">
        <div class="preview-list">
          <lg-printprogressbuttons icon="far fa-file-alt" title="Bed" color="info"></lg-printprogressbuttons>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="divider-box">
  <div class="stretch-card">
    <div class="card">
      <div class="card-body detail">
        <div class="preview-list">
          <div class="row">
            <lg-printprogressbuttons class="col-md-6" icon="far fa-file-alt" title="File"
                                     color="primary"></lg-printprogressbuttons>
            <lg-printprogressbuttons class="col-md-6" icon="far fa-clock" title="Time"
                                     color="success"></lg-printprogressbuttons>
            <lg-printprogressbuttons class="col-md-6" icon="fas fa-arrows-alt-v" title="Height"
                                     color="warning"></lg-printprogressbuttons>
            <lg-printprogressbuttons class="col-md-6" icon="fas fa-circle" title="Progress"
                                     color="danger"></lg-printprogressbuttons>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row divider-box">
  <div class="col-6">
    <a href="#" class="btn btn-success">Adjust</a>
  </div>
  <div class="col-6 text-right">
    <a href="#" class="btn btn-primary">Cancel</a>
  </div>
</div>
